* {
  box-sizing: border-box;
}

body {
  display: block;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  height: 100vh;
  color: #000;
}

/* ____________________________________________HEADER_____________________________________________ */

.header {
  display: flex;
  flex-wrap: wrap;
  color: #9b0101;
  padding: 50px;
  letter-spacing: 10px;
  cursor: pointer;
}

.header:hover {
  color: #cf3636;
  transition: .4s;
}

.header-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: whitesmoke;
  background: #000;
  border-bottom: 1px solid darkgray;
  padding-left: 20px;
  width: 100%;
  height: 150px;
}

.header-menu {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  padding-right: 40px;
  background-color: transparent;
  overflow: hidden;
}

.hunter-title, .bounties-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 12px;
  padding-left: 12px;
  font-size: 22px;
  letter-spacing: 2px;
  color: #fff;
  background-color: transparent;
  width: 14rem;
  cursor: pointer;
}

.hunter-title:hover, .bounties-title:hover {
  color: #9b0101;
  transition: .4s;
}

.hunter-container, .bounties-container {
  color: #fff;
  background: transparent;
  overflow: hidden;
}

.hunter-list-options, .bounties-list-options {
  display: flex;
  justify-content: flex-start;
  padding-left: 12px;
  font-size: 16px;
  letter-spacing: 2px;
  color: whitesmoke;
  background: transparent;
  cursor: pointer;
}

.hunter-list-options:hover, .bounties-list-options:hover {
  color: #9b0101;
  transition: .4s;
}


.small {
  font-weight: 300;
  font-style: italic;
}

/* __________________________________________HOME______________________________________________ */

.content-window {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 20px 40px 20px;
  background-color: black;
  background-image:url('./images/bountyHunter.jpg');
  background-repeat: no-repeat;
  background-size: 1600px 800px;
  height: 100vh;
}

/* ________________________________________Login Form_________________________________________ */

.login-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: whitesmoke;
  height: 50%;
  padding: 20px 20px;
  margin: 20px 50px 20px 50px;
}

.signup-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: whitesmoke;
  height: 65%;
  padding: 20px 20px;
  margin: 20px 50px 20px 50px;
}

.access-title {
  color: whitesmoke;
  font-size: 26px;
  letter-spacing: 3px;
  padding-bottom: 8px;
}

.btn {
  color: whitesmoke;
  background: #9b0101;
  width: 250px;
  border: 1px solid #9b0101;
  border-radius: 5px;
}

.btn:hover {
  color: white;
  background: #cf3636;
  transition: .4s;
  font-size: 18px
}

/* ___________________________________________FOOTER___________________________________________*/

.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 3px;
  padding: 20px 50px 0 50px;
  margin-bottom: 0;
  color: gray;
  background-color: #000;
}

.footer.container-fluid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer  ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.footer-icons {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  width: 150px;
  padding: 0
}

.footer a {
  color: gray;
  font-size: 28px;
}

.footer a:hover {
  color: #9b0101;
  transition: .4s;
}

.svg {
  position: relative;
  background-color: transparent;
  width: 30px;
  margin: 2px;
  padding: 1px;
}

.line-position {
  position: relative;
  line-height: 1.5;
  bottom: 12px;
}

/* ______________________________________MEDIA QUERIES_____________________________________ */

@media only screen and (max-width: 600px) {
  .body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
  }

  .header {
    padding-top: 40px;
    padding-bottom: 0;
  }
  
  .header-content {
    display: flex;
    justify-content: center;
    height: 150px;  
  }

  .header-menu {
    padding: 0;
    padding-top: 0;
    padding-left: 14px; 
  }

  .hunter-title, .bounties-title {
    /* margin-bottom: 50px; */
    
  }

  .content-window {
    display: block;
    height: 100vh;
    overflow: auto;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding: 20%;
  }

  .footer.container-fluid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 80px;
    align-items: center;
    margin: 0;
  }

  .navbar-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .header-menu {
    display: flex;
    flex: 2 80;
    
  }
}









h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}